.readmore{
    padding: 20px 135px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--st-GR);
    background-color: #F8F8FA;
}
.readmore-list{
    margin-left: 15px;
}
@media (max-width:1024px) {
    .readmore{
        padding: 20px 50px;
        font-size: 20px;
    }
}
@media (max-width:768px) {
    .readmore{
        padding: 20px 10px;
    }
}