.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 140px 0px;
}
.login-form{
    place-self: center;
    width: 400px;
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 30px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid var(--st-BL);
}
.logintop img{
    width: 30px;
    cursor: pointer;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-content-wrapper{
    display: flex;
    flex-direction: column;
}
.login-content-wrapper label{
    color: var(--st-BL);
}
.login-content-wrapper input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-content-wrapper select{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    width: 167px;
}
.login-form button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: var(--st-PR);
    font-size: 15px;
    cursor: pointer;
}
.login-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-condition input{
    margin-top: 5px;
}
.login p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .login-flex label{
        font-size: 24px;
    }
    .login-flex input{
        font-size: 24px;
    }
    .login-form{
        width: 700px;
        font-size: 24px;
    }
    .register-select{
        font-size: 24px;
        padding: 20px;
    }
    .login-condition p{
        font-size: 24px;
    }
    .login-form button{
        font-size: 24px;
        font-weight: 600;
    }
}
@media (max-width: 431px) {
    .login-form{
        place-self: center;
        width: 400px;
        color: #808080;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 30px 10px;
        border-radius: 8px;
        font-size: 24px;
        border: 1px solid var(--st-BL);
    }
    .login-flex{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .login-content-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}